@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Slab:wght@300&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto Slab", serif;
  background-image: url("https://images.unsplash.com/photo-1544631008-534b4b6c1215?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2153&q=80");
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 2.65rem;
  letter-spacing: 2px;
  font-weight: 900;
  color: whitesmoke;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container {
  margin: 10px 30%;
}

.image-container img {
  width: 100%;
  margin-top: 8px;
  cursor: pointer;
  border: 10px;
  border-color: whitesmoke;
}

/* media query for smartphone */

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  .image-container {
    margin: 10px;
  }
}
